# INEGI DENUE - https://www.inegi.org.mx/servicios/api_denue.html
DENUE_API_KEY= 

GEMINI_API_KEY= 

# SerpAPI (Google Search) - https://serpapi.com/manage-api-key
SERPAPI_KEY= 

# Hunter.io Email Finder - https://hunter.io/api-keys
HUNTER_API_KEY= 


ANTHROPIC_API_KEY=
MONDAY_API_KEY=

